<!doctype html>
<html style="min-height:auto">

<head>
    <title>Netflix History Loader</title>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
</head>

<body class="mainContainer">
    <div class="container">
        <div class="buttonContainer">
            <div class="title">Netflix Loader</div>
        </div>
        <div class="buttonContainer">
            <button class="primaryButton" id="saveHistoryButton">
                Export viewing activity
            </button>
        </div>
        <div class="buttonContainer">
            <button class="primaryButton" id="loadHistoryFileButton">
                Import viewing activity
            </button>
        </div>
    </div>
    <script src="popup.js"></script>
</body>
</html>